body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:713px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1360 {
  position:absolute;
  left:68px;
  top:62px;
  width:335px;
  height:713px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:348px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:225px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1362 {
  position:absolute;
  left:90px;
  top:320px;
  width:284px;
  height:45px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:14px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1364 {
  position:absolute;
  left:182px;
  top:169px;
  width:90px;
  height:90px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u1366 {
  position:absolute;
  left:111px;
  top:330px;
  width:23px;
  height:25px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u1368 {
  position:absolute;
  left:144px;
  top:320px;
  width:1px;
  height:45px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1370 {
  position:absolute;
  left:154px;
  top:330px;
  width:214px;
  height:25px;
  text-align:left;
}
#u1371 {
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:225px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  position:absolute;
  left:90px;
  top:396px;
  width:284px;
  height:45px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:14px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u1374 {
  position:absolute;
  left:144px;
  top:396px;
  width:1px;
  height:45px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1376 {
  position:absolute;
  left:154px;
  top:406px;
  width:214px;
  height:25px;
  text-align:left;
}
#u1377 {
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u1378 {
  position:absolute;
  left:111px;
  top:406px;
  width:23px;
  height:25px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u1380 {
  position:absolute;
  left:101px;
  top:451px;
  width:91px;
  height:25px;
  color:#FF0000;
  text-align:left;
}
#u1381 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u1382 {
  position:absolute;
  left:277px;
  top:451px;
  width:91px;
  height:25px;
  color:#FF0000;
  text-align:right;
}
#u1383 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1384 {
  position:absolute;
  left:101px;
  top:513px;
  width:267px;
  height:40px;
  color:#FFFFFF;
}
#u1385 {
  position:absolute;
  left:2px;
  top:12px;
  width:263px;
  word-wrap:break-word;
}
