body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:60px;
  top:63px;
  width:400px;
  height:712px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1052 {
  position:absolute;
  left:60px;
  top:63px;
  width:400px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1053 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u1054 {
  position:absolute;
  left:420px;
  top:63px;
  width:32px;
  height:34px;
  opacity:0;
  font-size:28px;
  color:#000000;
}
#u1055 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:60px;
  top:104px;
  width:400px;
  height:153px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:68px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u1058 {
  position:absolute;
  left:60px;
  top:135px;
  width:400px;
  height:1px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:70px;
  top:112px;
  width:173px;
  height:18px;
  font-size:12px;
  text-align:left;
}
#u1061 {
  position:absolute;
  left:2px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1062 {
  position:absolute;
  left:179px;
  top:136px;
  width:273px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1063 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1064 {
  position:absolute;
  left:396px;
  top:71px;
  width:56px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1065 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:97px;
}
#u1066 {
  position:absolute;
  left:68px;
  top:150px;
  width:101px;
  height:97px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1068 {
  position:absolute;
  left:179px;
  top:175px;
  width:273px;
  height:72px;
  font-size:12px;
  text-align:left;
}
#u1069 {
  position:absolute;
  left:2px;
  top:6px;
  width:269px;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:60px;
  top:267px;
  width:400px;
  height:153px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:68px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u1072 {
  position:absolute;
  left:60px;
  top:298px;
  width:400px;
  height:1px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1074 {
  position:absolute;
  left:70px;
  top:275px;
  width:173px;
  height:18px;
  font-size:12px;
  text-align:left;
}
#u1075 {
  position:absolute;
  left:2px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1076 {
  position:absolute;
  left:179px;
  top:299px;
  width:273px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1077 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:97px;
}
#u1078 {
  position:absolute;
  left:68px;
  top:313px;
  width:101px;
  height:97px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1080 {
  position:absolute;
  left:179px;
  top:338px;
  width:273px;
  height:72px;
  font-size:12px;
  text-align:left;
}
#u1081 {
  position:absolute;
  left:2px;
  top:6px;
  width:269px;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1082 {
  position:absolute;
  left:60px;
  top:438px;
  width:400px;
  height:153px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:68px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u1084 {
  position:absolute;
  left:60px;
  top:469px;
  width:400px;
  height:1px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1086 {
  position:absolute;
  left:70px;
  top:446px;
  width:173px;
  height:18px;
  font-size:12px;
  text-align:left;
}
#u1087 {
  position:absolute;
  left:2px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1088 {
  position:absolute;
  left:179px;
  top:470px;
  width:273px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1089 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:97px;
}
#u1090 {
  position:absolute;
  left:68px;
  top:484px;
  width:101px;
  height:97px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1092 {
  position:absolute;
  left:179px;
  top:509px;
  width:273px;
  height:72px;
  font-size:12px;
  text-align:left;
}
#u1093 {
  position:absolute;
  left:2px;
  top:6px;
  width:269px;
  word-wrap:break-word;
}
