<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>查看全文</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="../resources/css/mystyle.css">
</head>
<body>
<!--主体部分-->
<div class="container" v-cloak style="margin-top: 0">
    <template v-if="!isEmptyObject(publicity)">
        <template v-if="publicity.inValidAreaCode">
            <template v-if="publicity.logicalDel == 0 || publicity.userHasRead">
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text look_all">
                        <h4>{{publicity.publicityTitle}}</h4>
                        <div v-html="publicity.content"></div>
                    </div>

                </div>
                <div class="weui-cells" v-if="publicity.isContainPhone == 1">
                    <div class="weui-cells__title" style="color:#f00;font-size: 12px">如果您对此广告感兴趣，请留下您的联系方式:</div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <input style="font-size: 12px;" class="weui-input" type="text" id="tel" maxlength="11"
                                   placeholder="请输入您的电话号码">
                        </div>
                        <a href="javascript:;"
                           class="add_phone_btn weui-btn weui-btn_mini weui-btn_warn" id="addPhone">提交</a>
                    </div>
                </div>
            </template>
            <!--活动结束-->
            <template v-else>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text look_all out_area">
                        <h4 style="color:#e64340;background: #ddd;padding: 15px 7px;">
                            客官，您好。本活动已经结束在商家宝平台的推广，请您通过其它方式了解。给您带来不便，深感抱歉。</h4>

                        <p>既然您已经进来，不如花一分钟时间了解一下，商家宝是怎么帮助10万＋经营者提升销售业绩的↓↓↓</p>

                        <hr>
                        <h4>商家宝，移动互联时代经营者必备工具。</h4>
                        <h5>商家宝，
                            正在帮助10万+经营者实现业绩大幅增长和品牌快速传播。</h5>
                        <h6>商家宝是什么？</h6>
                        <p>
                            商家宝是一款建立在移动互联网及大数据分析基础上的多维度广告分发工具，通过对消费客群的地理定位、需求筛选，结合丰富的视觉表现、双向互动等创新方式，将推广信息精准、完整的传递给目标客群。</p>
                        <div class="img_box">
                            <img src="../resources/images/out_area1.jpg" alt="">
                        </div>
                        <h6>名动全城，商家宝文字扫码群发</h6>
                        <p>客户自由编辑文字信息，并设置需要群发的对象（全部好友、男性好友、女性好友、群、最近联系人），保存并生成二维码。客户扫描二维码后，之前编辑好的信息会自动群发到客户相应的微信好友里。</p>
                        <p>
                            应用场景：此形式的优点是传播非常强势，适合知名度较高的品牌进行告知类的消息传播。例如：XXXX（品牌知名度高）将于本周日举行促销活动，欢迎新老顾客欢迎。配合小礼物发放或者优惠活动使用，效果更好。</p>
                        <h6>图文并茂，商家宝图文扫码群发</h6>
                        <p>客户使用商家宝提供的编辑工具，将将内容编辑成图文消息，并设置群发对象（全部好友、男性好友、女性好友、群、最近联系人），通过商家宝后台转变为页面链接，并生成二维码。</p>
                        <p>客户可根据自己的经营特点，选择广告的有效范围，如广告的有效范围可设置为××省××市××县，只有在此范围内的用户才能查看到完整的图文广告内容。</p>
                        <p>客户可根据自己的实际需求设定推广费用，只有在区域内的客户浏览完整的图文广告后，才产生广告费。客户没有浏览或者不在设定的区域内，都不会产生费用。</p>
                        <p>商家宝创新的数据统计和甄别系统，能够识别到用户的浏览次数，只有在第一次浏览时才产生费用，重复浏览不会产生费用。</p>
                        <p>商家宝创新的设计了广告主与客户的互动体系，客户查看广告后，如果对商家的活动感兴趣，可直接留下自己的联系方式，联系方式及时的提供给商家，商家第一时间与客户主动联系。</p>
                        <p>应用场景：此方式能更好的展示商家的广告信息，完整的进行品牌传播和促销活动传播，且在费用和效果上更加精准。</p>
                        <div class="img_box">
                            <img src="../resources/images/out_area2.jpg" alt="">
                        </div>
                        <h6>人人为你，让所有人的朋友圈都成为你的宣传阵地。</h6>
                        <p>商家发布广告内容，用户可把广告转发到自己的朋友圈，一旦形成了有效浏览，则转发广告的用户都有一定的收益。</p>
                        <p>商家可以设置有效区域。即只有在某个区域内被点击的才算是有效点击。如果有重复点击，则只按照一次收取费用。还可以提前设置好推广费用，在达到一定金额后，推广自动停止。</p>
                        <p>在页面底部，有留取电话的功能，如果看到广告的对产品感兴趣，可以直接将联系方式留在下面，广告主后台可及时查看相关信息。</p>
                        <p>使用场景：此方式适合所有的广告场景。没有效果不收费，确认效果后再扣除广告费用。此方式结合了互联网广告的诸多优势，不仅费用低，而且精准度高。</p>
                        <div class="img_box">
                            <img src="../resources/images/out_area3.jpg" alt="">
                        </div>
                        <h6>为什么选择商家宝？</h6>
                        <p>
                            近10年来，随着互联网尤其是移动互联网的发展，不论是电子商务还是实体店，其运营方式都正在经历着深刻的变化；从开始的坐等客户（流量），到后来的主动寻找客户（流量），再到现在无处不在的粉丝经济。纷纷扰扰，蔚为大观；及时拥抱变化的，事业做的顺风顺水。后知后觉的，往往被时代所抛弃。在这个过程中，除去质量、服务等主观条件外，最客观也是最终决定成败的，是如何增加客户（流量），通过合适的渠道将信息传播出去。传统的传播渠道自然是已经难以适用，移动互联网的发展，使得传播必须具备精准、互动、强势的特点，以及碎片化、低费用、及时性和资源整合的使用场景。基于以上思考，商家宝建立了多维度立体化的广告分发平台，旨在服务数以千万计的中小经营者，帮助他们抢占更多的客户（流量），实现业绩的快速增长。</p>
                        <div class="img_box">
                            <img src="../resources/images/out_area4.jpg" alt="">
                        </div>
                        <p style="color:#F96E57">
                            除了技术上的创新，商家宝更注重运营模式上的创新，以期客户能够花更少的费用达到更好的更精准的推广效果，商家宝愿意与中小经营者一起成长，共同为实现理想而不懈努力。</p>
                    </div>
                </div>
            </template>
        </template>
        <!--不在区域-->
        <template v-else>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text look_all out_area">
                    <h4 style="color:#e64340;background: #ddd;padding: 15px 7px;">客官，您好。该商户的活动暂未覆盖到您所在的区域，请您关注其它活动。</h4>

                    <p>既然您已经进来，不如花一分钟时间了解一下，商家宝是怎么帮助10万＋经营者提升销售业绩的↓↓↓</p>

                    <hr>
                    <h4>商家宝，移动互联时代经营者必备工具。</h4>
                    <h5>商家宝，
                        正在帮助10万+经营者实现业绩大幅增长和品牌快速传播。</h5>
                    <h6>商家宝是什么？</h6>
                    <p>商家宝是一款建立在移动互联网及大数据分析基础上的多维度广告分发工具，通过对消费客群的地理定位、需求筛选，结合丰富的视觉表现、双向互动等创新方式，将推广信息精准、完整的传递给目标客群。</p>
                    <div class="img_box">
                        <img src="../resources/images/out_area1.jpg" alt="">
                    </div>
                    <h6>名动全城，商家宝文字扫码群发</h6>
                    <p>客户自由编辑文字信息，并设置需要群发的对象（全部好友、男性好友、女性好友、群、最近联系人），保存并生成二维码。客户扫描二维码后，之前编辑好的信息会自动群发到客户相应的微信好友里。</p>
                    <p>
                        应用场景：此形式的优点是传播非常强势，适合知名度较高的品牌进行告知类的消息传播。例如：XXXX（品牌知名度高）将于本周日举行促销活动，欢迎新老顾客欢迎。配合小礼物发放或者优惠活动使用，效果更好。</p>
                    <h6>图文并茂，商家宝图文扫码群发</h6>
                    <p>客户使用商家宝提供的编辑工具，将将内容编辑成图文消息，并设置群发对象（全部好友、男性好友、女性好友、群、最近联系人），通过商家宝后台转变为页面链接，并生成二维码。</p>
                    <p>客户可根据自己的经营特点，选择广告的有效范围，如广告的有效范围可设置为××省××市××县，只有在此范围内的用户才能查看到完整的图文广告内容。</p>
                    <p>客户可根据自己的实际需求设定推广费用，只有在区域内的客户浏览完整的图文广告后，才产生广告费。客户没有浏览或者不在设定的区域内，都不会产生费用。</p>
                    <p>商家宝创新的数据统计和甄别系统，能够识别到用户的浏览次数，只有在第一次浏览时才产生费用，重复浏览不会产生费用。</p>
                    <p>商家宝创新的设计了广告主与客户的互动体系，客户查看广告后，如果对商家的活动感兴趣，可直接留下自己的联系方式，联系方式及时的提供给商家，商家第一时间与客户主动联系。</p>
                    <p>应用场景：此方式能更好的展示商家的广告信息，完整的进行品牌传播和促销活动传播，且在费用和效果上更加精准。</p>
                    <div class="img_box">
                        <img src="../resources/images/out_area2.jpg" alt="">
                    </div>
                    <h6>人人为你，让所有人的朋友圈都成为你的宣传阵地。</h6>
                    <p>商家发布广告内容，用户可把广告转发到自己的朋友圈，一旦形成了有效浏览，则转发广告的用户都有一定的收益。</p>
                    <p>商家可以设置有效区域。即只有在某个区域内被点击的才算是有效点击。如果有重复点击，则只按照一次收取费用。还可以提前设置好推广费用，在达到一定金额后，推广自动停止。</p>
                    <p>在页面底部，有留取电话的功能，如果看到广告的对产品感兴趣，可以直接将联系方式留在下面，广告主后台可及时查看相关信息。</p>
                    <p>使用场景：此方式适合所有的广告场景。没有效果不收费，确认效果后再扣除广告费用。此方式结合了互联网广告的诸多优势，不仅费用低，而且精准度高。</p>
                    <div class="img_box">
                        <img src="../resources/images/out_area3.jpg" alt="">
                    </div>
                    <h6>为什么选择商家宝？</h6>
                    <p>
                        近10年来，随着互联网尤其是移动互联网的发展，不论是电子商务还是实体店，其运营方式都正在经历着深刻的变化；从开始的坐等客户（流量），到后来的主动寻找客户（流量），再到现在无处不在的粉丝经济。纷纷扰扰，蔚为大观；及时拥抱变化的，事业做的顺风顺水。后知后觉的，往往被时代所抛弃。在这个过程中，除去质量、服务等主观条件外，最客观也是最终决定成败的，是如何增加客户（流量），通过合适的渠道将信息传播出去。传统的传播渠道自然是已经难以适用，移动互联网的发展，使得传播必须具备精准、互动、强势的特点，以及碎片化、低费用、及时性和资源整合的使用场景。基于以上思考，商家宝建立了多维度立体化的广告分发平台，旨在服务数以千万计的中小经营者，帮助他们抢占更多的客户（流量），实现业绩的快速增长。</p>
                    <div class="img_box">
                        <img src="../resources/images/out_area4.jpg" alt="">
                    </div>
                    <p style="color:#F96E57">
                        除了技术上的创新，商家宝更注重运营模式上的创新，以期客户能够花更少的费用达到更好的更精准的推广效果，商家宝愿意与中小经营者一起成长，共同为实现理想而不懈努力。</p>
                </div>
            </div>
        </template>
    </template>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
<script src="//cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
<script src="../../../static/js/web-ajax-setting.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../resources/js/img_page/img_show_send.js"></script>
</body>
</html>